@import "tailwindcss";

@theme {
  --breakpoint-xs: 480px;
}

@media(max-width: 555px){
  .shortHand-but{
    font-size:6px;
    flex-grow: 1;
  }
  .shortHand-add{
    font-size: 10px;
    width: fit-content;
    padding: 6px 8px;
  }

}